<div>
  <h1 class="font-bold text-4xl">Criar conta</h1>
  <div class="space-y-12">
    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-4">
          <%= form_for :customer, url: customers_path do |f| %>
            <% if @customer&.errors %>
              <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Atenção</span>
                <div>
                  <span class="font-medium">Verifique os erros:</span>
                    <ul class="mt-1.5 list-disc list-inside">
                      <% @customer.errors.full_messages do |message| %>
                        <li><%= message %></li>
                      <% end %>
                  </ul>
                </div>
              </div>
            <% end %>

            <div class="inline-block">
              <div>
                <%= label_tag "nome", nil, class: "block text-sm font-medium leading-6 text-gray-900" %>
                <div class="mt-2">
                  <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                    <%= f.text_field :name, class: "block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6", placeholder: "Seu nome" %>
                  </div>
                </div>
              </div>
              <div class="mt-4">
                <%= label_tag "e-mail", nil, class: "block text-sm font-medium leading-6 text-gray-900" %>
                <div class="mt-2">
                  <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                    <%= f.text_field :email, class: "block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6", placeholder: "email@example.com" %>
                  </div>
                </div>
              </div>
              <div class="mt-4">
                <%= label_tag "telefone", nil, class: "block text-sm font-medium leading-6 text-gray-900" %>
                <div class="mt-2">
                  <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                    <%= f.text_field :phone, class: "block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6", placeholder: "(11) 91234-5678" %>
                  </div>
                </div>
              </div>
              <div class="mt-4">
                <%= label_tag "Senha", nil, class: "block text-sm font-medium leading-6 text-gray-900" %>
                <div class="mt-2">
                  <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                    <%= f.password_field :password, class: "block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" %>
                  </div>
                </div>
              </div>
              <div class="mt-4">
                <%= label_tag "Confirme sua senha", nil, class: "block text-sm font-medium leading-6 text-gray-900" %>
                <div class="mt-2">
                  <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                    <%= f.password_field :password_confirmation, class: "block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" %>
                  </div>
                </div>
              </div>
              <%= f.submit "Criar conta", class: "mt-4 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>

