<div class="container border-solid border border-gray-600 rounded-lg">
  <%= turbo_frame_tag "professionals", src: admin_professionals_path do %>
    <%= render "shared/skeleton" %>
  <% end %>
</div>

<div class="mt-4 container border-solid border border-gray-600 rounded-lg">
  <%= turbo_frame_tag "stores", src: admin_stores_path do %>
    <%= render "shared/skeleton" %>
  <% end %>
</div>

<div class="mt-4 mb-2 container border-solid border border-gray-600 rounded-lg">
  <%= turbo_frame_tag "services", src: admin_services_path do %>
    <%= render "shared/skeleton" %>
  <% end %>
</div>